[Unit]
Description=piVCCU
After=network.target

[Service]
ExecStart=/var/lib/piVCCU/start_container.sh
ExecStop=/var/lib/piVCCU/stop_container.sh
Type=forking
PIDFile=/var/run/pivccu.pid

[Install]
WantedBy=multi-user.target

