Package: pivccu-modules-raspberrypi
Version: {PKG_VERSION}
Architecture: all
Maintainer: Alexander Reinert <alex@areinert.de>
Depends: raspberrypi-kernel-headers, pivccu-modules-dkms, bc
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Section: kernel
Priority: extra
Homepage: https://github.com/alexreinert/piVCCU
Description: Raspberry Pi kernel modules needed for Homematic
  This package contains the Raspberry Pi kernel needed for Homematic.

