lxc.utsname = piVCCU

lxc.hook.start = /etc/piVCCU3/start-hook.sh

lxc.rootfs = /var/lib/piVCCU3/rootfs
lxc.rootfs.options = ro

lxc.mount.auto = proc sys:rw cgroup
lxc.mount.entry = devpts dev/pts devpts defaults,newinstance 0 0

lxc.mount.entry = tmpfs tmp tmpfs defaults,mode=1777 0 0
lxc.mount.entry = /tmp/pivccu-var var none defaults,bind 0 0
lxc.mount.entry = /tmp/pivccu-media media none defaults,bind 0 0
lxc.mount.entry = tmpfs run tmpfs defaults,mode=0755,nosuid,nodev 0 0
lxc.mount.entry = tmpfs dev/shm tmpfs defaults,nosuid,nodev,noexec,mode=1777,size=16M,create=dir 0 0

lxc.mount.entry = /var/lib/piVCCU3/userfs usr/local/ none defaults,bind 0 0

lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = <bridge_auto>
lxc.network.hwaddr = <mac_auto>
lxc.network.veth.pair = vethpivccu

lxc.cgroup.devices.deny = a
lxc.cgroup.devices.allow = c 1:3 rwm
lxc.cgroup.devices.allow = c 1:5 rwm
lxc.cgroup.devices.allow = c 1:8 rwm
lxc.cgroup.devices.allow = c 1:9 rwm
lxc.cgroup.devices.allow = c 5:0 rwm
lxc.cgroup.devices.allow = c 5:1 rwm
lxc.cgroup.devices.allow = c 5:2 rwm
lxc.cgroup.devices.allow = c 10:200 rwm
lxc.cgroup.devices.allow = c 136:* rwm
lxc.cgroup.devices.allow = c <eq3loop_major>:0 rwm
lxc.cgroup.devices.allow = c <eq3loop_major>:1 rwm
lxc.cgroup.devices.allow = c <eq3loop_major>:2 rwm
lxc.cgroup.devices.allow = c <uart_major>:<uart_minor> rwm
lxc.cgroup.devices.allow = c <hmip_major>:<hmip_minor> rwm

lxc.aa_profile = unconfined

lxc.pts = 1024
