[Unit]
Description=piVCCU DKMS Modules
Before=pivccu.service
Before=debmatic.service

[Service]
ExecStart=/var/lib/piVCCU/dkms/ensure_modules.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
RequiredBy=pivccu.service
WantedBy=debmatic.service
