Package: pivccu-modules-dkms
Version: {PKG_VERSION}
Architecture: all
Maintainer: Alexander Reinert <alex@areinert.de>
Provides: pivccu-kernel-modules
Pre-Depends: dkms, build-essential, bison, flex, debconf (>= 0.5) | debconf-2.0
Conflicts: pivccu
Section: kernel
Priority: extra
Homepage: https://github.com/alexreinert/piVCCU
Description: DKMS package for kernel modules needed for Homematic
  This package contains the a DKMS package for kernel needed for Homematic.

